{% extends 'base.html.twig' %}

{% block title %}Liste des Animes{% endblock %}

{% block body %}
    <div class="container mt-4">
        <h1 class="text-center mb-4">Liste des Animes</h1>

        <div class="row">
            {% for anime in animes %}
                <div class="col-md-4 mb-4">
                    <div class="card shadow-sm">
                        <img src="{{ anime.picture }}" class="card-img-top" alt="{{ anime.title }}">
                        <div class="card-body">
                            <h5 class="card-title">{{ anime.title }}</h5>
                            <a href="anime/{{ anime.id }}" class="btn btn-primary">Voir plus</a>
                        </div>
                    </div>
                </div>
            {% else %}
                <p class="text-center">Aucun anime trouvé.</p>
            {% endfor %}
        </div>
    </div>
{% endblock %}
